<% provide(:title, "Password reset") %>
<h1>Password Reminder</h1>

<div class="row">
	<div class="span6 offset3">

         <%= form_for(:password_reset, url: password_resets_path) do |f| %>
           
           <%= f.label :email %> 
           <%= f.text_field :email, :placeholder => "Your password will be sent to the email you signed up with" %>
  
           <%= f.submit "Submit", class: "btn btn-large btn-success" %>
         <% end %>
         <p>New User? <%= link_to "Sign Up", signup_path %></p>

    </div>
</div>


