<p>Hello <%= @user.name %>,</p>

<p>A user has sent you a message:</p>

<p>Name: <%= @message.name %></p>
<p>Email: <%= @message.email %></p>
<p>Subject: <%= @message.subject %></p>
<p>Message:</p>
<p><%= @message.content %></p>
