<% provide(:title, 'show profile') %>

<div class="row-fluid">

  <div class="span12 top-page">
    <center><h1><%= @user.first_name %>'s Profile</h1><center>
    </div>

</div>

  <div class ="row-fluid">
    <div class="span12 drop-shadow lifted">
      <div class ="row-fluid">
        <% if @user.image? %>
        <div style="width:33%;display:inline-block;">
          <%= image_tag @user.image_url.to_s if @user.image? %>
        </div>
        <% else %>
        <div style="width:33%;display:inline-block;">
          <%= image_tag image_path("avatar-placeholder.jpg") %>
        </div>
        <% end %>

        <div style="display:inline-block; vertical-align:top;">
          <h4 style="margin:0px 0px 8px 8px;"><%= @user.first_name %></h4>
          <% if current_user?(@user) %>
          <p style="margin:0px 0px 8px 8px;"><%= @user.email %></p>
          <%= link_to 'My Items', url_for(:controller => 'items', :action => 'myItems'), class: "btn btn-large btn-success", style: "margin:2px 2px 2px 8px;" %>
          <% else %>
          <%= link_to 'Posted Items', user_items_url, class: "btn btn-large btn-success", style: "margin:2px 2px 2px 8px;" %>
          <% end %>

        </div>

        <div class="pull-right" style="display:inline-block; vertical-align:top;">
        <% if signed_in? %>
          <% if current_user?(@user) %>
            <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-medium btn-primary", style: "margin:8px 2px 2px 8px;" %> 
            <%= link_to 'Change Password', change_pwd_url('id' => @user.id), class: "btn btn-medium btn-warning", style: "margin:8px 2px 2px 8px;" %> 
            <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-medium btn-danger", style: "margin:8px 2px 2px 8px;" %>
          <% elsif current_user.admin? %>
            <% if @user.banned %>
              <%= link_to 'Reactivate', url_for(:controller => 'admin', :action => 'ban_user', :user => @user, :ban => false), method: :put, data: { confirm: 'Are you sure?'}, class: "btn btn-large btn-warning" %>
            <% else %>
              <%= link_to 'Ban', url_for(:controller => 'admin', :action => 'ban_user', :user => @user, :ban => true), method: :put, data: { confirm: 'Are you sure?'}, class: "btn btn-large btn-warning" %>
            <% end %>
            <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-large btn-danger" %>
            <%= link_to 'Contact', new_user_message_path(@user),class: "btn btn-large btn-success" %>
          <% else %>
            <%= link_to 'Flag', new_user_flag_path(@user),class: "btn btn-large btn-success" %>
            <%= link_to 'Contact', new_user_message_path(@user),class: "btn btn-large btn-success" %>
          <% end %>
        <% end %>
        </div>

      </div>
    </div>
  </div>


