<div class="span12 item">
  <div class="drop-shadow lifted">
    <h1><%= item.name %></h1>
    <h2>by <%= User.find(item.user_id).name %></h2>
    <p><%= image_tag item.image_url.to_s %></p>
    <p><%= item.description %></p>
    <p><%= link_to 'View', item, class: "btn btn-medium btn-success", style: "margin:2px 2px 2px 2px;" %>
    <% if signed_in? %>
     <% if current_user.admin? %>
      <%= link_to 'Delete Project', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-medium btn-danger pull-right", style: "margin:2px 2px 2px 2px;" %>
     <% end %>
    <%end%>
  </p>
  </div>
</div>